# last modified: 2024-06-27T09:27:49.592Z

# Custom registry for @smmesbah packages
@smmesbah:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
